
<%- include ("../partials/header")  %>


<div class="ui aligned center aligned grid" id = "form-top">
  <div class="column">
    <h2 class="ui inverted image header">
    <i class=" plus icon"></i>
      <div class="content">
        Edit the <%=dashboard.DashboardName %> Dashboard
      </div>
    </h2>
    <form class="ui large form" action="/campgrounds/<%=campground._id%>?_method=PUT" method="post">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="edit outline icon loginIcon"></i>
            <input type="text" name="dashboard[DashboardName]" value="<%=dashboard.DashboardName%>">
          </div>
        </div>
        <div class="field">
          <label>Hashtag 1</label>
          <div class="ui left icon input">
            <i class="hashtag icon loginIcon"></i>
              <input type="text" name="Hashtag1" value="<%=dashboard.Hashtag1%>">          </div>
        </div>
        <div class="two fields">
        <div class="field">
          <div class="ui left icon input">
            <i class="map icon loginIcon"></i>
              <input type="text" name="Location1" value="<%=dashboard.Location1%>">         </div>
        </div>
        <div class="field">
          <div class="form-group">
             <select class="form-control" id="exampleFormControlSelect1">
               <option>Twitter</option>
               <option>Facebook</option>
               <option>Tumblr</option>
               <option>Reddit</option>
               <option>Viadeo</option>
             </select>
           </div>
        </div>
        </div>
        <div class="field">
            <label>Hashtag 2</label>
          <div class="ui left icon input">
            <i class="hashtag icon loginIcon"></i>
              <input type="text" name="Hashtag2" value= "<%=dashboard.Hashtag2%>">          </div>
        </div>
        <div class="two fields">
        <div class="field">
          <div class="ui left icon input">
            <i class="map icon loginIcon"></i>
              <input type="text" name="Location2" value="<%=dashboard.Location2%>">          </div>
        </div>
        <div class="field">
          <div class="form-group">
             <select class="form-control" id="exampleFormControlSelect1">
               <option>Twitter</option>
               <option>Facebook</option>
               <option>Tumblr</option>
               <option>Reddit</option>
               <option>Viadeo</option>
             </select>
           </div>
        </div>
        </div>
        <div class="field">
          <label>Hashtag 3</label>
          <div class="ui left icon input">
            <i class="hashtag icon loginIcon"></i>
              <input type="text" name="Hashtag3" value="<%=dashboard.Hashtag3%>">          </div>
        </div>
        <div class="two fields">
        <div class="field">
          <div class="ui left icon input">
            <i class="map icon loginIcon"></i>
              <input type="text" name="Location3" value="<%=dashboard.Location3%>">          </div>
        </div>
        <div class="field">
          <div class="form-group">
             <select class="form-control" id="exampleFormControlSelect1">
               <option>Twitter</option>
               <option>Facebook</option>
               <option>Tumblr</option>
               <option>Reddit</option>
               <option>Viadeo</option>
             </select>
           </div>
        </div>
        </div>



        <button class=" ui inverted secondary button"><i class="plus icon loginIcon"></i>Add another hashtag</button>

<br>
<p></p>
        <button class="fluid ui inverted primary button">Submit</button>

      </div>


      <div class="ui error message"></div>

    </form>

  </div>
</div>


<style type="text/css">
    body {
      background-color: grey;
      background-image: url(https://images.unsplash.com/photo-1544207916-df3b3a131e35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);

    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>

<%- include ("../partials/footer")  %>
